<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [6]:
duplicate_count=df.duplicated().sum()
print(f'There are {duplicate_count} duplicate rows in the DataFrame.')

There are 154 duplicate rows in the DataFrame.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [17]:
df_cleaned=df.drop_duplicates()
print("Duplicates removed. Here's the DataFrame without duplicates.")

Duplicates removed. Here's the DataFrame without duplicates.

Verify if duplicates were actually dropped.

In [8]:
remainging_duplicates=df_cleaned.duplicated().sum()
print(f'There are {remainging_duplicates} duplicate rows remainging in the cleaned DateFrame.')

There are 0 duplicate rows remainging in the cleaned DateFrame.

## Finding Missing values

Find the missing values for all columns.

In [9]:
missing_values_sum=df.isnull().sum()
print("Sum of missing values in each column:")
print(missing_values_sum)

total_missing_values=df.isnull().sum().sum()
print(f"Total number of missing values in the DataFrame: {total_missing_values}")

Sum of missing values in each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64
Total number of missing values in the DataFrame: 31381

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
missing_rows_count=df['WorkLoc'].isnull().sum()
print(f"Number of rows with missing values in 'WorkLoc': {missing_rows_count}")

Number of rows with missing values in 'WorkLoc': 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [11]:
cell_count=len(df['WorkLoc'])
print(f"The total number of cells in the column 'WorkLoc': {cell_count}")

The total number of cells in the column 'WorkLoc': 11552

Identify the value that is most frequent (majority) in the WorkLoc column.

In [12]:
#make a note of the majority value here, for future reference
mode_value=df['WorkLoc'].mode()
print(f"The Mode of the column 'WorkLoc' is: {mode_value[0]}")

The Mode of the column 'WorkLoc' is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [13]:
df['WorkLoc']=df['WorkLoc'].fillna('Office')
print("Missing values in 'WorkLoc' have been replaced with 'Office'.")

Missing values in 'WorkLoc' have been replaced with 'Office'.

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [14]:
missing_rows_count=df['WorkLoc'].isnull().sum()
print(f"Number of rows with missing values in 'WorkLoc': {missing_rows_count}")

Number of rows with missing values in 'WorkLoc': 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
categories=df['CompFreq'].value_counts()
print(f"The categories in the column 'CompFreq' are: {categories}")

The categories in the column 'CompFreq' are: CompFreq
Yearly     6163
Monthly    4846
Weekly      337
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [21]:
multi = [] #define list multi = space
def normalize_compensation(): #no defualt value filled
    for i,a in zip(df['CompFreq'],df['CompTotal']): #zip for Iterating over multiple columns - differing data type
        if i == 'Yearly':
            multi.append(a) #add an item in the list that use value of a(any row) in Comp
        elif i == 'Monthly':
            multi.append(a*12)
        else:
            i == 'Weekly'
            multi.append(a*52)
normalize_compensation()

df['NormalizedAnnualCompensation'] = multi
df[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                           61000.0
1                          138000.0
2                           90000.0
3                          348000.0
4                           90000.0
...                             ...
11547                      130000.0
11548                       74400.0
11549                      105000.0
11550                       80000.0
11551                           NaN

[11552 rows x 1 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>